@import './variable.scss';
*{
    padding: 0px;
    margin: 0px;
}

/*nav */

nav {
    width: 100%;
    margin: 0px auto;
    box-shadow: 0px 2px 5px 1px rgba(60, 60, 62, 0.88);
}
.nav-grid{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background:$color-primary;

    .logo-left{
        // display: grid;
        // grid-template-columns: 1fr 4fr;
        // padding: 15px 5px;
        .logo{
            padding: 10px;
            margin-left: 20px;
        }
        .brand-name{
            color: #fff;
            padding: 5px;
            margin-top: 35px;
        }
    }
    .nav-link-right{
        padding: 5px;
        margin-top: 35px;
        margin-right: 15px;
        background: transparent;
        list-style-type: none;
        button{
            background-color: $color-primary;
            color: $color-white;
            width: 76px;
            height: 35px;
            border-radius: 3px;
            cursor: pointer;
        }
    }
}

/*nav end */

/*section-dashboard */

.dashboard{
    width: 100%;
    margin: 0 auto;
}
.dashboard-grid-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.dashboard-nav-left{
    background: $color-primary;
    box-shadow: 0px -3px 10px -3px rgba(60, 60, 62, 0.88);
    height: -webkit-fill-available;
    .home{
        .main-menu{
            text-transform: uppercase;
        }
        img{
            fill: $color-white;
        }
        a{
            color: $color-white;
            text-decoration: none;
            text-transform: capitalize;
        }
    }
}