// @import '/assets/fonts/Helvetica.ttf';
// @import '/assets/fonts/OpenSans-Bold.ttf';
// @import '/assets/fonts/OpenSans-Regular.ttf';


$color-approve: #034A00;
$color-black: #000000;
$color-cancel: #b10202;
$color-doggerblue: #1e90ff;
$color-gold: #e2a025;
$color-grey: #dcdee0;
$color-payment: #2f66f3;
$color-primary: #004487;
$color-white: #ffffff;
// $font-helvetica: 'Helvetica Bold';
// $font-opensans: 'Open Sans, Regular';
// $font-opensansbold: 'Open Sans, Bold';