// @import '/assets/fonts/Helvetica.ttf';
// @import '/assets/fonts/OpenSans-Bold.ttf';
// @import '/assets/fonts/OpenSans-Regular.ttf';


$color-approve: #054a00;
$color-black: #000000;
$color-cancel: #b70000;
$color-card3red: #ff6f58;
$color-card4green: #21bdc8;
$color-doggerblue: #3663fd;
$color-gold: #ffbf2c;
$color-grey: #f2f5f8;
$color-payment: #2f66f3;
$color-primary: #001f88;
$color-white: #ffffff;
// $font-helvetica: 'Helvetica Bold';
// $font-opensans: 'Open Sans, Regular';
// $font-opensansbold: 'Open Sans, Bold';                                          