.credit-sales{
    padding: 20px;
}

.credit-sales-top{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
}

input[type="button"] {
  padding: 8px 20px;
  border-radius: 10px;
  font-family: inherit;
  color: #ffffff;
}
.credit-sales-top > table {
  border-spacing: 0;
  color: #ffffff;
  width: 100%;
  padding: 0px;
  min-height: 25vh;
  -webkit-box-shadow: 2px 2px 5px 0px #bcc9ce;
  box-shadow: 0px 1px 5px 1px #bcc9ce;
}

.credit-sales-top > table thead{
    -webkit-box-shadow: 2px 2px 5px 0px #bcc9ce;
    box-shadow: 0px 1px 5px 1px #bcc9ce;
}

.credit-sales-top > table thead tr td {
    font-size: 12px;
    padding: 15px 0px 15px 32px;
    background-color: #3462FD;
}

.credit-sales-top > table tbody {
    background-color: #ffffff;
    color: #000000;
    -webkit-box-shadow: 2px 2px 5px 0px #bcc9ce;
    box-shadow: 0px 1px 5px 1px #bcc9ce;
}

.credit-sales-top  table td {
    padding: 10px 30px 24px 30px;
    font-size: 12px;
}

.credit-sales-bottom{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-gap: 15px;
    grid-gap: 15px;
}

.credit-sales-bottom-body{
    margin-top: 20px;
    background-color: #ffffff;
    -webkit-box-shadow: 2px 2px 5px 0px #bcc9ce;
    box-shadow: 0px 1px 5px 1px #bcc9ce;
    border-radius: 5px;
    padding: 25px 15px;
}

.credit-sales-bottom  table td{
    width: 50%;
    padding: 10px;
    font-size: small;
}

.credit-sales-bottom  input, select{
    padding: 2px 7px;
    border: 1px solid #3462FD;
    border-radius: 5px;
    width: 100%;
    font-size: small;
    color: #3462FD;
}

input:focus, select:focus{
    outline: none;
}

.credit-sales-bottom select{
    width: 100%;
}