.header-details-right h1 {
    font-family: inherit;
    font-weight: 100;
    text-transform: capitalize;
    margin-left: 20px;
    margin-top: 10px;
}
.credit-sales{
    padding: 20px;
}
.credit-sales p{
    position: relative;
    top: -10px;
}
.credit-sales-top{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    overflow: auto;
    background-color: #ffffff;
    height: 50%;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 5px 0px #bcc9ce;
    box-shadow: 0px 1px 5px 1px #bcc9ce;
}
form{
    margin-bottom: 0.1em;
    bottom: 100%;
    margin-left: 15px;
}
input .search-input{
    margin-left: 150px;
}
form .search-label{
    position: relative;
    width: 31rem;
    height: 4rem;
}
.search-input{
    width: 500px;
    height: 38px;
    padding: 0 4rem 0 1.4rem;
    border: solid thin #bcc9ce;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 1px #bcc9ce;
}
::placeholder{
    color: #3663fd;
    font-size: 16px;
    font-style: inherit;
    font-weight: 500;
    text-transform: capitalize;
}
.search-btn{
    width: 33px;
    height: 33px;
    border: 0;
    background: #3663fd;
    color: #3663fd;
    cursor: pointer;
    position: relative;
    top: 17px;
    border-radius: 3px;
}
.search-btn svg{
    width: 38px;
    height: 38px;
    fill: #ffffff;
    padding: 0px;
}

input[type="button"] {
    padding: 8px 20px;
    border-radius: 5px;
    font-family: inherit;
    color: #ffffff;
    box-shadow: none;
    border-style: solid;
}
.credit-sales-top > table {
  border-spacing: 0;
  color: #ffffff;
  width: 100%;
  padding: 0px;
  border-radius: 5px; 
  min-height: 25vh;
  -webkit-box-shadow: 2px 2px 5px 0px #bcc9ce;
  box-shadow: 0px 1px 5px 1px #bcc9ce;
  overflow: scroll;
}

.credit-sales-top > table thead{
    -webkit-box-shadow: 2px 2px 5px 0px #bcc9ce;
    box-shadow: 0px 1px 5px 1px #bcc9ce;
}

.credit-sales-top > table thead tr th {
    font-size: 12px;
    padding: 15px 0px 15px 32px;
    background-color: #3462FD;
}

.credit-sales-top > table tbody {
    background-color: #ffffff;
    color: #000000;
    -webkit-box-shadow: 2px 2px 5px 0px #bcc9ce;
    box-shadow: 0px 1px 5px 1px #bcc9ce;
}

.credit-sales-top  table td {
    padding: 10px 30px 24px 30px;
    font-size: 12px;
}

.credit-sales-bottom{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-gap: 15px;
    grid-gap: 15px;
    width: 100%;
    /* display: block; */
    margin: auto;
    /* position: relative;
    left: 50px; */
}

.credit-sales-bottom-body{
    margin-top: 20px;
    background-color: #ffffff;
    -webkit-box-shadow: 2px 2px 5px 0px #bcc9ce;
    box-shadow: 0px 1px 5px 1px #bcc9ce;
    border-radius: 5px;
    padding: 25px 15px;
}
.credit-sales-bottom-body.right img{
    position: relative;
    left: 44%;
    width: 70px;
    height: 70px;
}
.label-center{
    display: grid;
    grid-template-columns: 1fr;
}
label.start input[type="file"]{
    position: absolute;
    top: 6px;
    left: 2px;
    width: 51px;
    opacity: 0;
}
.start{
    border: 2px solid #ffffff;
    border-radius: 4px;
    background: #3462FD;
    color: #ffffff;
    padding: 5px 10px;
    margin: 2px;
    display: inline-block;
    position: relative;
    top: 30px;
    left: 45%;
    width: 10%;
    text-align: center;
}
.start:hover {
    background: #CCC;
}
.start:active {
    background: #CCF;
}
.start :invalid + span {
    color: #A44;
}
.start :valid + span {
    color: #ffffff;
}

/* .credit-sales-bottom-body.right input{
    padding: 0;
    border: 0;
    position: relative;
    top: 25px;
    left: 10em;
} */

.credit-sales-bottom  table td{
    width: 50%;
    padding: 10px;
    font-size: small;
}

.credit-sales-bottom.body.left  input[type="number"], select{
    padding: 2px 7px;
    border: 1px solid #3462FD;
    border-radius: 5px;
    width: 100%;
    font-size: small;
    color: #3462FD;
}
input[type="number"]{
    padding: 2px 7px;
    border: 1px solid #3462FD;
    border-radius: 5px;
    width: 91%;
    font-size: small;
    color: #3462FD;
}
input:focus, select:focus{
    outline: none;
}

.credit-sales-bottom select{
    width: 100%;
}
#filedrag
{
	/* display: none; */
	font-weight: bold;
	text-align: center;
	padding: 1em 0em 1em 0em;
    margin: 10em 0 0em 0;
	color: #555;
	border: 2px dashed #3462FD;
	border-radius: 2px;
    cursor: default;
    font-size: 13px;
}
#filedrag:hover{
    color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}

/* media queries */
@media(max-width: 700px){
    .credit-sales-top {
        width: 100vw;
        margin: 0px 0px 0px 15px;
        grid-template-columns: 100%;
    }

    .credit-sales-bottom {
        -ms-grid-columns: 1fr;
        grid-template-columns: 100%;
        width: 100vw;
        margin: 0px 0px 0px 15px;
    }
    .header-details-right h1 {
        position: relative;
        top: 35px;
        right: 15px;
    }

    .search-input {
        width: 330px;
        height: 35px;
    }
    form {
        margin-left: 3px;
    }

    .credit-sales p {
        left: 16px;
    }
}