.header-details-right h1 {
    font-family: inherit;
    font-weight: 100;
    text-transform: capitalize;
    margin-left: 15px;
    margin-top: 10px;
}
.product-price{
    padding: 20px;
}

.product-price-top{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
}
.product-prices-heading{
    text-transform: capitalize;
    color: #3462FD;
    margin-top: 35px;
}
.product-price-top > form > select {
    width: 500px;
    color: #3462FD;
    font-weight: 540;
    padding: 10px;
    border-radius: 5px;
    border-color: white;
    -webkit-box-shadow: 2px 2px 5px 0px #bcc9ce;
    box-shadow: 0px 1px 5px 1px #bcc9ce;
    background-color: #ffffff;
    font-size: 15px;
}
form{
    margin-bottom: 0.1em;
    bottom: 100%;
    margin-left: 0px;
    padding-bottom: 10px;
}
.select{
    margin-bottom: 0.1em;
    bottom: 100%;
    margin-left: 0px;
}
input .search-input{
    margin-left: 150px;
}
form .search-label{
    position: relative;
    width: 31rem;
    height: 4rem;
}
.search-input{
    width: 460px;
    height: 38px;
    padding: 0px 0px 0px 15px;
    border: solid thin #bcc9ce;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 1px #bcc9ce;
}
::placeholder{
    color: #3663fd;
    font-size: 16px;
    font-style: inherit;
    font-weight: 500;
    text-transform: capitalize;
}
.search-btn{
    width: 33px;
    height: 35px;
    border: 0;
    background: #3663fd;
    color: #3663fd;
    cursor: pointer;
    position: relative;
    top: 17px;
    border-radius: 3px;
}
.search-btn svg{
    width: 38px;
    height: 38px;
    fill: #ffffff;
    padding: 0px;
}
select:focus{
    outline: none;
}

input[type="button"] {
  padding: 8px 20px;
  border-radius: 10px;
  font-family: inherit;
  color: #ffffff;
}
.product-price-bottom  table {
  border-spacing: 0;
  width: 100%;
  padding: 0px;
  min-height: 25vh;
  overflow: hidden;
}


.product-price-bottom{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-gap: 15px;
    grid-gap: 15px;
}

.product-price-bottom-body{
    margin-top: 20px;
    background-color: #ffffff;
    -webkit-box-shadow: 2px 2px 5px 0px #bcc9ce;
    box-shadow: 0px 1px 5px 1px #bcc9ce;
    border-radius: 5px;
    padding: 25px 15px;
}

.two{
    padding: 0;
}


.product-price-bottom  table td{
    padding: 5px 10px;
    font-size: small;
}

.product-price-bottom  table td > input[type="submit"]{
    padding: 3px 6px;
    border-radius: 5px;
    font-family: inherit;
    background-color: #3462FD;
    color: white;
    font-size: small;
    width: 70px;
    border: 2px solid transparent;
}

input[type="number"]{
    padding: 4px 10px;
    border-width: 1px;
    width: 40px;
    border-style: solid;
    border-color: rgb(0, 68, 135);
    border-image: initial;
    border-radius: 5px;
}

.product-price-bottom-table{
    border-spacing: 0;
    background-color: #ffffff;
    width: 100%;
    border-radius: 5px;
}

.product-price-bottom-table  >  thead tr td {
    font-size: small;
    color: white;
    padding: 15px 0px 15px 32px;
    background-color: #3462FD;
}


.product-price-bottom-table   tbody  tr  td {
    padding: 10px 30px 24px 50px ;
    font-size: small;
}

/* media queries */
@media(max-width: 700px){
    .product-price-bottom {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .product-price-top > form > select {
        width: 70vw;
    }
    .search-input {
        width: 330px;
        height: 35px;
    }
    form {
        margin-left: 3px;
    }
}