.dashboard-details-right > form > select{
    margin-left: 4%;
    padding: 5px 25px;
    border: 1px solid #3462FD;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.request-details{
    background-color: #ffffff;
    margin: 4%;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px #DCDDDD;
}

.request-contents{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr ;
    padding: 70px;
}

input{
    padding: 2px 7px;
    border: 1px solid #3462FD;
    border-radius: 5px;
}

input:focus, select:focus{
    outline: none;
}
.price{
    width: 40%;
    padding: 5px;
}

.buttons{
    text-align: right;
}

.bank{
    width: 50%;
    padding: 10px;
    font-size: small;
    font-weight: bolder
}

input[type='submit'], a {
    padding: 3px 6px;
    border-radius: 5px;
    font-family: inherit;
    color: white;
    border: 2px solid transparent;
}

.approve {
    background-color: #034A00;
}
  
.cancel {
    background-color: #b10202;
}

table td{
    width: 50%;
    padding: 10px;
    font-size: small;
}
table tr td:nth-child(odd){
    color: #3462FD;
}

hr{
    padding: 1px;
    width: 50%;
    opacity: .7;
    background-color: #3462FD;
    margin: 0 auto;
}
