.dashboard-details-right > form > select{
    margin-left: 4%;
    padding: 5px 25px;
    border: 1px solid #3462FD;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.request-details{
    background-color: #ffffff;
    margin: 4%;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px #DCDDDD;
}
.request-details2{
    background-color: #ffffff;
    margin: 4%;
}

.request-contents{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr ;
    padding: 0px 50px 0px 50px;
}
.request-contents.two{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr ;
    padding: 30px 178px 30px 61px;
}
.request-contents-top.left table{
    padding: 20px 0px 62px 0px;
    display: grid;
    grid-template-columns: 103%;
}
.request-contents-top.left{
    margin-left: 10px;
    margin-top: 35px;
}
.request-contents-top.right table{
    padding: 20px 40px 44px 0px;
    width: 386px;
    height: 250px;
    display: grid;
    grid-template-columns: 144%;
}
.request-contents-top.right{
    margin-top: 35px;
    margin-right: 20px;
}
.request-contents.floor {
    padding-bottom: 30px;
    padding-top: 30px;
}

input{
    padding: 2px 7px;
    border: 1px solid #3462FD;
    border-radius: 5px;
}

input:focus, select:focus{
    outline: none;
}
.price{
    width: 40%;
    padding: 5px;
}

.buttons{
    text-align: right;
}

.bank{
    width: 50%;
    padding: 10px 0px 0px 23px;
    font-size: small;
    font-weight: 700;
}

input[type='submit'], a {
    cursor: pointer;
    padding: 3px 6px;
    border-radius: 5px;
    font-family: inherit;
    color: white;
    border: 2px solid transparent;
    width: 80px;
}

.approve {
    background-color: #034A00;
}
  
.cancel {
    background-color: #b10202;
}

table td{
    padding: 10px;
    font-size: small;
}
table tr td:nth-child(odd){
    color: #3462FD;
    width: 140px;
}
.bottom-right tr td:nth-child(odd){
    
}
.bottom-left tr td:nth-child(odd){
    width: 110px;
}
.bottom-left tbody{
    width: 110px;
}
.bottom-right tr td:nth-child(even){
    
}

hr{
    padding: 1px;
    width: 50%;
    opacity: .7;
    background-color: #3462FD;
    margin: 0 auto;
}


/* media queries */
@media(max-width: 700px){
    .request-contents {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns:  1fr;
        grid-template-columns: 1fr;
        padding: 20px;
        width: 90vw;
    }
}