/* approve users page */
.approval-search{
    margin: 20px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}


.approval-search input[type='search']{
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    width:  270px;
    margin: 10px;
    color: #3663FD; 
    -webkit-box-shadow: 2px 2px 2px 2px #e7e5e5;
            box-shadow: 2px 2px 2px 2px #e7e5e5;
}

.approval-setup{
    padding: 15px;
    display: -ms-grid;
    margin: 20px;
    font-size: small;
    display: grid;
    background-color: #ffffff;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    border-radius: 5px; 
    -webkit-box-shadow: 2px 2px 2px 2px #e7e5e5;
            box-shadow: 2px 2px 2px 2px #e7e5e5;
}

.approval-setup select{
    padding: 5px 60px 0 30px;
    border: 1px solid #3663FD;
    border-radius: 5px;
    width: auto;
    color: #3663FD;
}

.approval-submit{
    text-align: right;
    margin: 30px;
}

.approval-submit > input{
    background-color: #3663FD;
    color: white;
    padding: 5px 10px;
    border: 2px solid #3663FD;
    border-radius: 5px;
    margin-right: 50px;
    margin-top: 20px;
    font-size: small;
}
/* media queries */
@media(max-width: 700px){
    .approval-setup{
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}